@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700');
@import url('mobile.css');

* { margin: 0; padding: 0; }

a { color: #0FA28F; text-decoration: none; }

ul, ol {
	list-style: none;
}

img { max-width: 100%; }

textarea:focus {
	outline: none;
}

body {
	font-family: Open Sans, arial, sans-serif;
	background: #1e2225;
	width: 100vw;
	height: 100vh;
	display: flex;
}

button:focus {
	outline: none;
}

::selection {
	background: #16ceb6;
	color: #fff;
}

::-webkit-scrollbar {
    width: 13px;
    background: #282c35;
}
::-webkit-scrollbar-thumb {
    background: #282c35;
    border-radius: 25px;
    box-shadow: inset 0 0 2px #0FA28F;
}

/*---------------------------------------------------------------------------------------\
|             Principal
\---------------------------------------------------------------------------------------*/

.page { display: none; }

#main {
	width: 100%;
	color: #fff;
	overflow-y: scroll;
}

/*---------------------------------------------------------------------------------------\
|             Menu Lateral
\---------------------------------------------------------------------------------------*/

.action.active {
	color: #0FA28F !important;
	background: rgba(0,0,0,.5) !important;
	-webkit-box-shadow: inset 2px 0 0 #0FA28F !important;
	        box-shadow: inset 2px 0 0 #0FA28F !important;
}

#menu-left.mobile {
	position: fixed;
	z-index: 998;
	left: -220px;
	top: 55px;
	transition: left .5s ease-in;
}

#menu-left.mobile.active {
	left: 0px;
}

#mobile-menu {
	top: 10px;
	left: 10px;
	z-index: 999;
	display: none;
	position: fixed;
	cursor: pointer;
	border-radius: 5px;
	transition: all .5s ease-in;
	background: rgba(0,0,0,.5);
}

#mobile-menu.active {
	top: 0;
	left: 0;
	width: 220px;
	border-radius: 0;
	background: #222;
}

#mobile-menu.active > div {
	background: #0FA28F;
}

#mobile-menu > div {
	width: 50px;
	height: 5px;
	background: #fff;
	margin: 10px;
	border-radius: 5px;
}

#menu-left {
	width: 220px;
	height: 100vh;
	background: linear-gradient(to bottom, #343b42, #2c3a46);
}

#menu-left ul li.action {
	color: #fff;
	display: block;
	font-size: 15px;
	padding: 15px 5px 15px 20px;
	-webkit-box-shadow: 0 1.3px 0 #1e2225, inset 0 -1px rgba(99, 122, 144, 0.3);
	        box-shadow: 0 1.3px 0 #1e2225, inset 0 -1px rgba(99, 122, 144, 0.3);
	-webkit-transition: all .3s linear;
			transition: all .3s linear;
}

#menu-left ul li i {
	margin-right: 5px;
}

#menu-left ul li.action:hover {
	background: rgba(15, 162, 143, .3);
	color: #0FA28F;
	cursor: pointer;
	-webkit-box-shadow: inset 2px 0 0 #0FA28F, inset -2px 0 0 #0FA28F;
	        box-shadow: inset 2px 0 0 #0FA28F, inset -2px 0 0 #0FA28F;
}

#menu-left li.header {
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0,0,0,.3);
	padding: 10px 0;
	font-size: 20px;
	font-weight: 600;
	color: #fff;
	cursor: default;
}

/*---------------------------------------------------------------------------------------\
|             Páginas
\---------------------------------------------------------------------------------------*/

#main .page {
	padding: 10px;
}

#main .page .header {
	padding: 20px 5px 20px 30px;
	background: #0FA28F;
	text-shadow: 0 3px 2px rgba(0,0,0,.3);
	box-shadow: inset 0 -2px 1.5px rgba(255,255,255,.3);
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

#main .page .header h2 {
	color: #fff;
	background: rgba(0,0,0,.3);
	padding: 10px 20px;
	font-weight: 600;
	border-radius: 3px;
}

#main .page .header p {
	margin-left: 10px;
}

#main .page .list {
	padding: 30px 20px;
}

/* Tabela */

.list table {
	width: 100%;
	padding: 3px;
	border-radius: 3px;
	border: 1px solid #0FA28F;
}

.list table thead th {
	text-align: left;
	color: #0FA28F;
	font-size: 14px;
	background: #2b4146;
}

.list table tr td {
	font-size: 13px;
}

.list table tr:nth-child(odd) {
	background: #24292f;
}
.list table tr:nth-child(even) {
	background: #1d2227;
}

.list table tr th,
.list table tr td {
	padding: 15px 20px;
}

/* Botões Ações Tabela */

.list td.buttons button:nth-child(1),
.list td.buttons button:nth-child(2),
.list td.buttons button:nth-child(3) {
	margin-right: 10px;
}

.list td.buttons button {
	padding: 10px 20px;
	cursor: pointer;
	border: none;
	color: #fff;
	border-radius: 3px;
	-webkit-transition: all .1s linear;
			transition: all .1s linear
}

.list td.buttons .start {
	background: #0fa28f;
}

.list td.buttons .stop {
	background: #b92929;
}

.list td.buttons .restart,
.list td.buttons .edit {
	background: #2b7ec7;
}

.list td.buttons button:hover {
	background: transparent;
	box-shadow: inset 0 0 1.5px #0fa28f;
	color: #0fa28f;
}

button:active {
	transform: scale(.9) !important;
}


/* Console LOG */


.page .console {
	background: #191c1f;
	padding: 20px;
}

.page .console textarea {
	background: transparent;
	color: #67717b;
	width: 100%;
	resize: none;
	border: none;
	font-size: 13px;
	line-height: 1.5;
}

/*---------------------------------------------------------------------------------------\
|             Modal
\---------------------------------------------------------------------------------------*/

.modal {
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: none;
	z-index: 1000;
	display: none;
	position: fixed;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	background: rgba(0,0,0,.8);
	-webkit-animation: appear 1s;
	        animation: appear 1s;
}

.modal .box {
	background: #1c2225;
	width: 50vw;
	height: 50vh;
	-webkit-animation: appearSlide 1s;
	        animation: appearSlide 1s;
}

.modal.active {
	display: flex;
}

@-webkit-keyframes appear {
	from { opacity: 0; }
	to 	 { opacity: 1; }
}

@keyframes appear {
	from { opacity: 0; }
	to 	 { opacity: 1; }
}

@-webkit-keyframes appearSlide {
	from { opacity: 0; position: absolute; top: -50vw; }
	to   { opacity: 1; position: relative; top: 0px; }
}

@keyframes appearSlide {
	from { opacity: 0; position: absolute; top: -50vw; }
	to   { opacity: 1; position: relative; top: 0px; }
}